/* Register.css */
.register-box {
  width: 350px;
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.register-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0f9691;
}

.register-box label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #333;
}

.register-box input {
  width: 95%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s;
}

.register-box input:focus {
  border: 1px solid #0f9691;
}

.register-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #0f9691;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

.register-box button:hover {
  background: #0c7a76;
}

#errorBox,
.error-message {
  min-height: 20px;
  margin-top: 10px;
  font-size: 14px;
  color: red;
  text-align: center;
}
footer {
  background: #0f9691;
  color: #fff;
  text-align: center;
  padding: 12px;
  margin-top: auto;   /* pushes footer to bottom */
  width: 100%;
}
