
body {
  margin: 0;
  font-family: italic, sans-serif;
  background-color: #f4f8fb;
  color: #0e0f0f;
}


h1 {
  background-color: #0f9691;
  color: rgb(255, 255, 255);
  padding: 40px;
  margin: 0;
  text-align: side;
}


nav {
  background-color: hsla(178, 25%, 81%, 0.837);
  text-align: right;
  padding: 22px;
}

nav a {
  color: rgb(49, 214, 223);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: #15c0b5;
}


.content {
  max-width: 500px;
  margin: 40px auto;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


footer {
  background-color: #1ee5bd;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}