/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: #f4f6f9b6;
  color: #333;
}

/* Header */
header {
  background: #11c0a3;
  color: white;
  padding: 10px;
  text-align: side;
}


.container {
  display: fex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}


.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  flex: 1 1 300px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}


h2 {
  margin-top: 0;
  color: #021803;
}


.patient-info {
  display: flex;
  align-items: side;
}

.patient-info img {
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
}


.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.stat {
  text-align: center;
}

.stat h3 {
  margin: 0;
  color: #333;
}

/* Appointments */
.appointments ul {
  list-style: none;
  padding: 0;
}

.appointments li {
  background: #f9f9f9;
  margin: 8px 0;
  padding: 10px;
  border-left: 4px solid #033f05;
  border-radius: 5px;
}


footer {
  text-align: center;
  padding: 15px;
  background: #31ae9f;
  color: white;
  margin-top: 20px;
}