

* {
  margin: 10;
  padding: 20;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 90vh;
  display: outside;
  justify-content: center;
  align-items: center;
  background: #e1f2f4;
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 400px;
}

.login-box {
  background: #ebf4f2;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(39, 156, 125, 0.2);
  text-align: center;
}

.login-box h2 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #108f82;
}

.login-box p {
  margin-bottom: 30px;
  color: #555555;
  font-size: 15px;
}

.input-group {
  text-align: left;
  margin-bottom: 25px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #041313;
  font-weight: 600;
  font-size: 15px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #068f6c;
  box-shadow: 0 0 8px rgba(228, 227, 229, 0.4);
}

.btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #09916469, #0d7367);
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: #0a675ee8;
  font-size: 15px;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}